.auth-img {
  width: 50%;
  margin: 0 25%;
}

.login {
    
    background-image: url(../../bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

   // background-color:red;


}
.login  {
   color:rgba(255,255,255,0.5);


}


#container_login {
  color:white;
  margin-top:40%;


}

.login .label_white {
   color:white;
  
}

.login .transparent {
  background-color:rgba(0,0,0,0.1);

}

.login ::-moz-placeholder {

  color:white;

}

.login .logo {

position:absolute;
top:50px;
left:10%;

font-size:3em;
font-weight: lighter;





}

.login  {

color:white;

}
 
.login form {


  
}

.login form button {

}
  #cta {

    width:100%;
    height:10%;
   

    display:block;
    color:rgba(255,255,255,0.7);
    font-size:1.1em;
    text-transform: none;
    
    margin-left:auto;
    margin-right: auto;


    
    background-color: transparent;
    border:1px solid rgba(255,255,255,0.7);




}