.auth-img {
  width: 50%;
  margin: 0 25%;
}

.login {
    
    background-image: url(../../bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

   // background-color:red;


}
.login  {
   color:rgba(255,255,255,0.5);


}


#container_login {
  color:white;
  margin-top:40%;


}

.login .label_white {
   color:white;
   border:none;
   box-shadow: none;
  border-bottom-color:none;



  
}

.login .test1 {

height:80px;
border:none;

stroke:none;



}

.login .test2 {

height:80px;


}

.login a.link {

color:rgba(0,0,0,0.3);



}

.italic {

font-style: italic;


}

.login .transparent {
  background-color:rgba(0,0,0,0.1);

}

.login ::-moz-placeholder {

  color:none;


}

.login #err_message {


width:100%;
margin-left:auto;
margin-right:auto;
padding:20px;
position:absolute;
bottom:40px;
font-size:1.2em;

left:40px;
background-color:white;
color:black;


}
.login .signup {

  margin-top:37px;
  text-align:center;

}

.login .logo {

text-align:center;
position:relative;


top:50px;








font-size:3em;
font-weight: lighter;





}

.login  {

color:white;

}
 
.login form {


  
}

.login form button {

}
  #cta {

    width:100%;
    height:80px;

   

    display:block;
    color:rgba(255,255,255,0.7);
    font-size:1.5em;
    text-transform: none;
    margin-top:20px;

    margin-left:auto;
    margin-right: auto;
margin-bottom: 30px;


    
    background-color: transparent;
    border:1px solid rgba(255,255,255,0.7);




}