.new {


}


#camera {

font-size: 2em;



}

.mylist {

    border:none;
    box-shadow: none;
    border-bottom-color:rgb(255,255,255);


}



.description{
    margin-top:40px;

 font-size:2em;
    border:none;

}
.title {

    font-size:2em;
    border-bottom-color: white;




}
 .cta {

    
   position:fixed;
   bottom:30px;


    width:90%;
    display:block;

    height:80px;


}
#mic {

    font-size:2em;

    
}