.new {


}


#camera {

font-size: 2em;



}

.send_btn {

  position:absolute;  top:5px;
    right:30px;
    border:none;
    box-shadow:none;



}

.img_btn {

 
   
    color:white;
   
    background:none;
    font-size:3em;
    transition:none;
    box-shadow:none;
    
   




}

.img_btn:hover {

    background:none;
    transition: none;


}

.img_icon {

   
   




}
.send_icon {
  

  
    font-size:2em;
    color:white;


}

.mylist {

    border:none;
    box-shadow: none;
    border-bottom-color:rgb(255,255,255);


}



.description{
    margin-top:40px;

 font-size:2em;
    border:none;

}
.title {

    font-size:2em;
    border-bottom-color: white;




}
 .cta {

    
   position:fixed;
   bottom:30px;


    width:90%;
    display:block;

    height:80px;


}
#mic {

    font-size:2em;

    
}